<section class="mt-5">
    <div class="container my-5 p-5 bg-sec-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-theme text-theme-primary">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae dolor, vitae nobis
                quibusdam est labore saepe ad mollitia doloribus. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Magnam officia aperiam ut aliquam iste amet ducimus? A provident, dolorum magnam tenetur nihil
                sed, vel mollitia voluptatibus esse fuga nam quam! Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Nesciunt consequatur laborum sint optio, eveniet veniam. Laboriosam fugiat aut, corrupti repellat
                iste, fugit deserunt magnam, suscipit sequi itaque error! Sit, laboriosam?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae dolor, vitae nobis
                quibusdam est labore saepe ad mollitia doloribus. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Magnam officia aperiam ut aliquam iste amet ducimus? A provident, dolorum magnam tenetur nihil
                sed, vel mollitia voluptatibus esse fuga nam quam! Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Nesciunt consequatur laborum sint optio, eveniet veniam. Laboriosam fugiat aut, corrupti repellat
                iste, fugit deserunt magnam, suscipit sequi itaque error! Sit, laboriosam?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae dolor, vitae nobis
                quibusdam est labore saepe ad mollitia doloribus. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Magnam officia aperiam ut aliquam iste amet ducimus? A provident, dolorum magnam tenetur nihil
                sed, vel mollitia voluptatibus esse fuga nam quam! Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Nesciunt consequatur laborum sint optio, eveniet veniam. Laboriosam fugiat aut, corrupti repellat
                iste, fugit deserunt magnam, suscipit sequi itaque error! Sit, laboriosam?</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm btn-sub mt-4">Back to Home</button>
            </div>
        </div>
    </div>
</section>