<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/592077/pexels-photo-592077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="" class="card-img-top">
                <div class="card-body">
                    <small class="bg-light text-center text-danger">Design</small>
                    <small class="bg-light text-success text-center ms-3">Design</small>
                    <small class="bg-light text-info text-center ms-3">Views - 100,200</small>
                    <small class="bg-light text-warning text-center ms-3">LAST UPDATED - SEP 20, 2020</small>
                    <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                        to make a
                        type specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining
                        essentially
                        unchanged.</p>
                </div>
            </div>
            <app-comments-form></app-comments-form>
            <app-comments-list></app-comments-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>