<div class="bg-theme py-5">
    <div class="container">
        <h1 class="text-white">General Knowledge</h1>
        <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, tempora?</p>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-4 mb-3">
            <app-post-card></app-post-card>
        </div>

    </div>
</div>