<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4 class="mb-3">Leave a Comment</h4>
        <p class="mb-3">You can leave a comment form using this comment form</p>
        <form action="">
            <div class="form-group">
                <label for="" class="mb-3">Name</label>
                <input type="text" class="form-control shadow-effect mb-3" placeholder="Enter your name here">
            </div>
            <div class="form-group">
                <label for="" class="mb-3">Comment</label>
                <textarea name="" placeholder="Add your comment here" id="" cols="30" rows="10"
                    class="form-control shadow-effect mb-3"></textarea>
            </div>
            <button class="btn btn-info btn-sub mb-3">Add a Comment</button>
        </form>
    </div>
</div>