<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div href="#" class="site-logo">Eve New</div>
                <div class="">
                    <ul class="nav justify-content-center">
                        <li class="nav-item "><a href="" class="nav-link">Design</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Inspiration</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Sports</a></li>
                        <li class="nav-item "><a href="" class="nav-link">Politics</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright © 2023 Blogs</p>
            </div>
        </div>
    </div>
</footer>